.counter {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  height: auto;
  background-color: #005bf32b;
  padding: 50px 30px;
  border-radius: 50px;
  box-shadow: 0 30px 60px -5px #16141457;
}
.counter h1 {
  font-size: 100px;
  margin: 0;
  padding-bottom: 20px;
}
.counter button {
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
}
.counter .btn1 {
  background-color: #008000;
  color: #ffffff;
}
.counter .btn2 {
  background-color: #ff0000;
  color: #ffffff;
  margin-left: 5px;
}
